<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <UXTU.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>C:\Portable Softwares\!Tools\UXTU</value>
            </setting>
            <setting name="AutoReapply" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoReapplyTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="APUName" serializeAs="String">
                <value>AMD Ryzen 9 7945HX with Radeon Graphics        </value>
            </setting>
            <setting name="APUID" serializeAs="String">
                <value>178BFBFF00A60F12</value>
            </setting>
            <setting name="StartOnBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SensorOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllCoreClk" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="CPUVID" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="BusCLK" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="COCPU" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="COiGPU" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iGPUClk" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="dGPUCLK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dGPUMem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isAllCoreCLK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isVID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isBUS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isCPUCO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGPUCO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isNV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplyOCAtStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isMagpie" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isiGPUClk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPUName" serializeAs="String">
                <value>AMD Ryzen 9 7945HX with Radeon Graphics        </value>
            </setting>
            <setting name="isRadOC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isPerCO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PerCOCCD1" serializeAs="String">
                <value>0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="PerCOCCD2" serializeAs="String">
                <value>0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="PerOCCCD1" serializeAs="String">
                <value>400,400,400,400,400,400,400,400</value>
            </setting>
            <setting name="isPerOC" serializeAs="String">
                <value>False</value>
            </setting>
        </UXTU.Properties.Settings>
    </userSettings>
</configuration>